body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #254;
    color: white;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.project-gallery {
    display: flex;
    gap: 20px;
}

.f {
  width: 200px; 
}

.d {
    width: 50%; 
}

.about {
    background-color: #cfa75d;
}

.Hobbi {
    background-color: #cfa75d;
}

.projects {
    background-color: #cfa75d;
}


.Foto1 {
    width: 100px; 
}


.Foto2 {
    width: 100px; 
}



.Foto3 {
    width: 100px; 
}



section a {
    margin: 10%;
}


.Foo {
    width: 400px; 
}


.fooo {
    width: 200px; 
}